* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1140px ;
    margin: 0 auto;
}
.aslide {
    background-color: gray;
    width: 500px;
    display: flex;
    height: 100vh;
    position: fixed;
    &-inner {
        display: flex;
        flex-direction: column;
        img {
            width: 50px;
        }
    }
    &-home {
        svg {
            width: 200px;
        }
    }
}